{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "extends": [
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "airbnb-typescript"
  ],
  "plugins": [
    "@typescript-eslint"
  ],
  "rules": {
    "linebreak-style": 0,
    "@typescript-eslint/dot-notation": "off",
    "@typescript-eslint/no-implied-eval": "off",
    "@typescript-eslint/no-throw-literal": "off",
    "no-restricted-syntax": "off",
    "@typescript-eslint/no-use-before-define": "off",
    "import/prefer-default-export": "off",
    "no-prototype-builtins": "off",
    "no-multiple-empty-lines": "off",
    "consistent-return": "off"
  },
  "globals": {
    "window": true,
    "document": true
  }
}
